.alertContainer {
  
    margin-top: 24vh;
    height: 79vh;
    text-align: center;
}
.alertanim{
    max-width: 50vw;
    margin: auto;
    border-radius: 10000px;
    height: 60vh;
    border: 7px solid wheat;
}

.alertContainer h1{

    background: rgb(87, 123, 221);
    background: linear-gradient(90deg, rgba(87, 123, 221, 1) 0%, rgba(87, 123, 221, 1) 40%, rgba(252, 125, 33, 1) 47%, rgba(252, 125, 33, 1) 90%);
  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.wheat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50vw;
    margin: auto;
    border-radius: 10000px;
    height: 60vh;
    border: 7px solid wheat;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(233, 8, 8, 0.822), -5px -5px 30px 7px rgba(228, 11, 11, 0.22);
}
/* .wheat > .light{
    height: 30px;
} */
.red{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 7px solid red;
    max-width: 50vw;
    margin: auto;
    border-radius: 10000px;
    height: 60vh;
    box-shadow: 5px 5px 30px 7px rgba(231, 10, 10, 0.25), -5px -5px 30px 7px rgba(226, 14, 14, 0.22);
}
.green{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 7px solid green;
    max-width: 50vw;
    margin: auto;
    border-radius: 10000px;
    height: 60vh;
    box-shadow: 5px 5px 30px 7px rgba(99, 231, 10, 0.25), -5px -5px 30px 7px rgba(99, 226, 14, 0.22);
}

.wheat > .light{
    background-image: url('../../assets/red_light.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin:60px 0 0 100px;
    height: 250px;
    width: 250px;
    z-index: 100000;
}

.red > .light{
    background-image: url('../../assets/red_light.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin:60px 0 0 100px;
    height: 250px;
    width: 250px;
    z-index: 100000;
}
.green > .light{
    background-image: url('../../assets/green_light.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin:60px 0 0 100px;
    height: 250px;
    width: 250px;
    z-index: 100000;
}

/* .text_alert{
    margin: 350px 0 0 200px;
} */

.activateButton{
    background: linear-gradient(90deg, rgba(87, 123, 221, 1) 0%, rgba(252, 125, 33, 1) 46%, rgba(252, 125, 33, 1) 60%);
    margin-top: 10px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    color: #161527;
    border: none;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}